
<div class="">
<div class="tile double-vertical bg-color-orangeDark">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Student Organizations</h4>
	
</div>
</a>
</div>
<div class="tile double-vertical bg-color-pink">
<a href="/greek_organizations">
<div class="tile-content" >
	<h4>Greek Organizations</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-blueDark selected">
<a href="/academic_honor_societies">
<div class="tile-content" >
	<h4>Academic Honor Societies</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-greenLight">
<a href="/university_honor_societies">
<div class="tile-content" >
	<h4>University Honor Societies</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-greyDark">
<a href="/graduate_assistantships">
<div class="tile-content" >
	<h4>Graduate Assistantships</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-new2">
<a href="/scholarship_grants">
<div class="tile-content" >
	<h4>Scholarships & Grants</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-green">
<a href="/job_opportunities">
<div class="tile-content" >
	<h4>Job Opportunities</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-yellow">
<a href="/internships">
<div class="tile-content" >
	<h4>Internships</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-red">
<a href="/others">
<div class="tile-content" >
	<h4>Others</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-red">
<a href="/university_programs">
<div class="tile-content" >
	<h4>University Programs</h4>
	
</div>
</a>
</div>
<div class="tile bg-color-new">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Upcoming</h4>
	
</div>
</a>
</div>

</div>
