
<div class="">
<div class="tile double bg-color-orangeDark">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Student Organizations</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-pink">
<a href="/greek_organizations">
<div class="tile-content" >
	<h4>Greek Organizations</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-blueDark">
<a href="/academic_honor_societies">
<div class="tile-content" >
	<h4>Academic Honor Societies</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-greenLight">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>University Honor Societies</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-greyDark">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Graduate Assistantships</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-new2">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Scholarships & Grants</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-green">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Job Opportunities</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-yellow">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Internships</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-red">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Others</h4>
	
</div>
</a>
</div>
<div class="tile double bg-color-new">
<a href="/student_organizations">
<div class="tile-content" >
	<h4>Upcoming</h4>
	
</div>
</a>
</div>

</div>
