// Place all the styles related to the GreekOrganizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
  margin: 5px;
  width: 220px;
  height: 5em;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

h1 {    

      text-align: center;
      color:#000;
      font: 25px/1 "Impact";
      text-transform: uppercase;
      display: block;      
      margin: 5% auto 5%;
}

.boxit{
  
  font-color: #fff;
}